* { 
    box-sizing: border-box;
  }

header{
    margin: -8px;
    border: 2px red solid;
    padding: 4rem;
   
    
    
}
img{
    max-width: 75%;
}
ul{
    list-style: none;
    padding: 0;
}

li{
    border: 3px olive solid;
    padding: 0 6rem;
    text-align: center;
    margin-top: 3px;
    line-height: 2rem;
    font-size: 20px;
}
    

.main-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
   
    
}